<div class="sidebar">
  <div class="container sidebar-sticky">
    
    
    
    <div class="sidebar-about">
      
      <h1>
          {{ site.title }}
      </h1>
      <p class="lead">{{ site.description }}</p>

      <img src="/Julia_Kraemer1.jpg" alt="An image" />
    </div>

    <nav class="image-container">


      <div class="row">
        <div class="column">
          <a href="https://twitter.com/julia_kraemer">
            <img src="{{ site.baseurl }}public/twitter.png" alt="twitter" >
          </a> 
        </div>
        <div class="column">
          <a href="https://www.linkedin.com/in/julia-kr%C3%A4mer-708342171">
            <img src="{{ site.baseurl }}public/linked.png" alt="linkedin" >
          </a> 
        </div>
        <div class="column">
          <a href="https://orcid.org/0000-0001-8605-9078">
            <img src="{{ site.baseurl }}public/orcid.png" alt="linkedin" >
          </a> 
        </div>
      </div> 
      
      
      
    </nav>

    
  </div>
</div>
